*{
    font-family:poppins;
    margin: 0;
}
.center{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -1;
    margin-top: 100px;
}
#search_img{
    width: 40%;
}
.position{
    display: flex;
    justify-content: center;

}
#search{

    padding: 1.5% 1.5%;
    border-radius: 8px;
    border: 0;
    width: 40.5%;
    box-shadow: rgba(100, 100, 111, 0.18) 0px 7px 29px 0px;
}
#search:focus{
    outline: none;
    border: 0;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;

}

form{
    
    margin-left: 30.5%;
    padding-top: 195px;
}
button{
    background: #50bf2a;
    margin-left: 5px;
    height: 7%;
    width: 5%;
    border-radius: 8px;
    border: 0;
    
}
button:hover{
    background: #60bf3f;
    cursor: pointer;
}
i{
    color: white;
}
ul{
 
    margin-left: 27.5%;
    text-decoration: none;
    list-style: none;
}
li{
    margin: 0px 0px 0px 0px;
    
    
}
.title{
    color: #50bf2a;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 500;
}
.description{
    font-size: 13px;
    color: gray;
}
#resultsSentence{
    margin-left: 30.5%;
    font-size: 13px;
    visibility: hidden;
    margin-top: 10px;
}
